@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"), url("../fonts/sf-ui-display-medium.woff") format("woff");
}

@font-face {
  font-family: 'SF UI Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Semibold"), url("../fonts/sf-ui-display-semibold.woff") format("woff");
}

@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"), url("../fonts/sf-ui-display-bold.woff") format("woff");
}

* {
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.product-card {
  width: 573px;
  height: 707px;
  position: relative;
  background: #F8FAFC;
  border-radius: 25px;
  padding: 40px;
  margin-left: 24px;
  margin-right: 24px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.product-card:hover {
  -webkit-box-shadow: 0px 4px 45px #C3D4E4;
          box-shadow: 0px 4px 45px #C3D4E4;
}

.product-card__feature {
  background: linear-gradient(248.16deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 71px;
  height: 26px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  left: 31px;
  top: 46px;
}

.product-card__feature-text {
  font-family: 'SF UI Display Semibold';
}

.product-card__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  right: 32px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.product-card__basket:hover {
  -webkit-box-shadow: 0px 0px 8px #BDD0E3;
          box-shadow: 0px 0px 8px #BDD0E3;
}

.product-card__img-box {
  background-color: #fff;
  width: 256px;
  height: 261px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.product-card__img {
  display: block;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #fff;
  border: none;
  outline: none;
}

.product-card__img:hover {
  -webkit-transform: scale(1.6) rotate(45deg);
          transform: scale(1.6) rotate(45deg);
  border: none;
  outline: none;
}

.product-card__description-box {
  margin-top: 35px;
}

.product-card__title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #2C2C2C;
  font-family: 'SF UI Display Semibold';
  margin-bottom: 10px;
}

.product-card__description {
  font-size: 16px;
  line-height: 24px;
  color: #2C2C2C;
  font-family: 'SF UI Display Medium';
  margin-bottom: 20px;
}

.color-pick {
  width: 258px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 30px;
  position: relative;
  font-family: 'SF UI Display Semibold';
  font-weight: 500;
  font-size: 12px;
  color: #2C2C2C;
}

.color-pick__color-choose {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-pick__arrow {
  padding-right: 20px;
}

.color-pick__dropdown-content {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 1px 2px #cccccc;
          box-shadow: 0 1px 2px #cccccc;
  border-radius: 15px;
  display: none;
  max-height: 124px;
  overflow-y: auto;
  z-index: 9;
}

.color-pick__color {
  cursor: pointer;
  width: 100%;
  height: 24px;
  border-radius: 0px 10px 10px 0px;
  padding-left: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.color-pick__color:hover {
  background: #F3F8FC;
}

.price {
  font-family: 'SF UI Display Bold';
  font-size: 18px;
  color: #000000;
  position: absolute;
  right: 45px;
  top: 66.8%;
}

.volume-pick {
  margin-top: 18px;
  margin-left: 20px;
}

.volume-pick__form-radio {
  margin-bottom: 15px;
}

.volume-pick__form-radio input[type=radio] {
  display: none;
}

.volume-pick__form-radio label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  font-family: 'SF UI Display Semibold';
  padding-left: 35px;
}

.volume-pick__form-radio label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 23px;
  height: 23px;
  background: #DEDEDE;
  border-radius: 5px;
}

.volume-pick__form-radio input[type=radio]:checked + label:before {
  background: url(/images/checked.png) 0 0 no-repeat;
}

.amount-buy-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.amount-pick {
  width: 94px;
  height: 39px;
  background: #E2E9F0;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #2C2C2C;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 20px;
  margin-right: 30px;
}

.amount-pick:hover {
  background: #D8E3EE;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.amount-pick__minus, .amount-pick__plus {
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 33.3%;
  height: 100%;
}

.amount-pick__plus {
  padding-right: 2px;
}

.amount-pick__value {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-button {
  width: 310px;
  height: 39px;
  background: linear-gradient(220.61deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
  border: none;
  border-radius: 30px;
  font-family: 'SF UI Display Bold';
  font-size: 18px;
  line-height: 21px;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.buy-button:hover {
  -webkit-box-shadow: 0px 0px 20px #E8CB80;
          box-shadow: 0px 0px 20px #E8CB80;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.buy-button:active {
  -webkit-box-shadow: 0px 0px 20px #E8CB80;
          box-shadow: 0px 0px 20px #E8CB80;
  background: linear-gradient(221.35deg, #FFD773 -3.95%, #E2B645 109.44%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

ul {
  padding-left: 0px !important;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

ul::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

ul::-webkit-scrollbar-button {
  background-color: transparent;
  height: 10px;
}

ul::-webkit-scrollbar-thumb {
  width: 3px;
  height: 40px;
  background: #E0E9F2;
  border-radius: 15px;
}
/*# sourceMappingURL=style.css.map */